<mat-toolbar color="primary" >
  <button
    type="button"
    aria-label="Toggle sidenav"
    mat-icon-button
    *ngIf="isHandset$ | async">
    <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
  </button>
  <span>{{title}}</span>
</mat-toolbar>
<div class="grid" #grid fxLayout.lt-sm="column"  >
  <div class="item" *ngFor="let model of chartModels" >
    <div class="item-content">

      <app-mat-dc-chart
      [title]="model.title"
      [subtitle]="model.subtitle"
      [dimension]="model.dimension"
      [group]="model.group"
      [selectedOption]="model.selectedOption"
      (selectedOptionChange)="model.selectedOption = $event"
      (chartLoadedChange)="model.chartLoaded = $event"
      (chartChange)="model.chart = $event"
      [chartOptions]="model.chartOptions"
      [filterItems]="model.filterItems"></app-mat-dc-chart>
    </div>
  </div>
</div>
