<div class="grid" #grid fxLayout.lt-sm="column"  >
  <div *ngFor="let model of chartModels" class="item">
      <div class="item-content"  >
        <app-mat-dc-chart
          [title]="model.title"
          [subtitle]="model.subtitle"
          [dimension]="model.dimension"
          [group]="model.group"
          [chartGroup]="model.chartGroup"
          [selectedOption]="model.selectedOption"
          (chartFilteredChange)="model.chartFiltered = $event"
          (selectedOptionChange)="model.selectedOption = $event"
          (chartLoadedChange)="model.chartLoaded = $event"
          (chartChange)="model.chart = $event"
          [chartOptions]="model.chartOptions"
          [filterItems]="model.filterItems"
          [dialogData]="model.dialogData">
        </app-mat-dc-chart>
      </div>
  </div>
</div>
