
<mat-card class="card" >
    <mat-card-header class="header">
      <mat-card-title fXLayout="row">
          <div fxFlex="100%" >{{title}}</div>
          <mat-select fxFlex="20%" *ngIf="chartOptionsKeys.length > 1"  [(value)]="selectedOption"  >
            <mat-option  *ngFor="let co of chartOptionsKeys" [value]="co">{{ chartOptions[co].name }}</mat-option>
          </mat-select>
          <button  mat-icon-button color="accent"  (click)="openDialog()">
              <mat-icon >info</mat-icon>
          </button>
      </mat-card-title>
      <mat-card-subtitle fxLayout="row" fxLayoutAlign="start" fxLayoutGap="16px" >
          <ng-template [ngIf]="subtitle?.length > 0">
              <button fxFlex="33.3%" mat-icon-button [matMenuTriggerFor]="filterChoicesMenu" >
                  {{subtitle}} <mat-icon inline="true">expand_more</mat-icon>
              </button>
              <mat-menu #filterChoicesMenu >
                  <ng-template matMenuContent>
                      <button mat-menu-item *ngFor="let choice of group?.all()" (click)="filtersToggle(choice.key)"> {{choice.key}}  </button>
                  </ng-template>
              </mat-menu>
          </ng-template>

          <ng-template [ngIf]="filterItems.length > 0" >
              <mat-form-field fxFlex="0 1 calc(50% - 16px)" *ngFor="let item of filterItems">
                <mat-select  [placeholder]="item.name" [value]="item.selectDefault" (valueChange)="handleDimFilter(item.dimension, $event)" [multiple]="item.selectMultipleEnabled">
                  <mat-option *ngFor="let choice of item.group.all()" [value]="choice.key" >{{choice.key}}</mat-option>
                </mat-select>
              </mat-form-field>
          </ng-template>
      </mat-card-subtitle>

    </mat-card-header>
    <mat-card-content #chartRoot>
        <ng-template [ngIf]="!chartLoaded" >
          <mat-progress-spinner
            class="chartLoadingSpinner"
            color="primary"
            mode="indeterminate" >
          </mat-progress-spinner>
        </ng-template>
    </mat-card-content>
    <mat-card-actions *ngIf="subtitle?.length > 0">
      <mat-chip-list >
        <button mat-button (click)="filtersMatch(null)" [disabled]="filters.length < 1" class="resetFiltersBtn">Reset</button>
            <mat-chip *ngFor="let filter of filters" [selectable]="false" [removable]="true" (removed)="filtersToggle(filter)">
              {{filter}}
              <mat-icon matChipRemove >cancel</mat-icon>
            </mat-chip>
      </mat-chip-list>
    </mat-card-actions>
  </mat-card>
