


/* Sidenav styles */
.sidenav-container {
  height: 100%;
}

.sidenav {
  width: 200px;
}

.mat-drawer-container {
  overflow: visible;
}

.mat-drawer-content {
  overflow: visible;
}

.mat-toolbar.mat-primary {
  position: sticky;
  top: 0;
  z-index: 2;
}
