

.cbg0 {
  border-color: #1f77b4;
}

.cbg1 {
  border-color: #ff7f0e;
}

.cbg2 {
  border-color: #2ca02c;
}

.cbg3 {
  border-color: #d62728;
}

.cbg4 {
  /* background-color: #d3c4e0; */
  border-color: #9467bd;
}

.numDispContainer {
  padding: 5px;
  margin: 5px;
  border-radius: 4px;
  border-width: 4px;
  border-style: solid;
}
